# content-based-recommendation-system

Use the "Run" button to execute the code.

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
data = pd.read_csv('Final_Employees_Data.csv')

In [5]:
data

,Eid,Ename,Experience,Total_projects,Rating,Area_of_Interest_1,Area_of_Interest_2,Area_of_Interest_3,Language1,Language2,Language3,AI_project_count,ML_project_count,JS_project_count,Java_project_count,DotNet_project_count,Mobile_project_count
0,1,Dana Bond,2,2,1.000000,DotNet,JS,AI,English,Hindi,Tamil,0,1,1,0,0,0
1,2,Jesus Hampton,9,13,1.444444,DotNet,AI,JS,English,Hindi,Malayalam,4,3,0,2,3,1
2,3,Teresa Munoz,15,16,1.066667,ML,JS,Java,English,Kannada,Chinese,3,3,1,3,5,1
3,4,Annette Dipietro,18,19,1.055556,DotNet,ML,Mobile,English,Chinese,Tamil,4,4,2,3,3,3
4,5,Jennifer Fortner,22,15,0.681818,Mobile,Java,JS,English,Chinese,Telugu,3,4,3,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Nicole Meeks,24,27,1.125000,Java,Mobile,AI,English,Telugu,Tamil,11,3,2,6,4,1
996,997,Trista Cheek,3,6,2.000000,Mobile,ML,DotNet,English,Chinese,Telugu,1,0,2,1,2,0
997,998,Constance Rozier,14,5,0.357143,AI,ML,Mobile,English,Kannada,Telugu,2,1,1,1,0,0
998,999,Elizabeth Bannister,11,9,0.818182,JS,ML,DotNet,English,Tamil,Japenese,4,2,1,1,0,1
999,1000,Susan Weber,11,13,1.181818,ML,AI,JS,English,Telugu,Hindi,4,0,1,2,5,1

In [6]:
data.describe()

,Eid,Experience,Total_projects,Rating,AI_project_count,ML_project_count,JS_project_count,Java_project_count,DotNet_project_count,Mobile_project_count
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,12.79900,14.692000,1.293804,2.845000,2.574000,2.597000,2.409000,2.228000,2.039000
std,288.819436,6.68111,7.443288,0.622976,1.978608,1.894231,2.011128,1.980313,1.836134,1.790163
min,1.000000,2.00000,2.000000,0.357143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,250.750000,7.00000,8.000000,0.869565,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,500.500000,13.00000,15.000000,1.166667,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,750.250000,19.00000,20.000000,1.529412,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000
max,1000.000000,24.00000,29.000000,4.500000,11.000000,10.000000,11.000000,12.000000,9.000000,11.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Eid                   1000 non-null   int64
 1   Ename                 1000 non-null   object
 2   Experience            1000 non-null   int64
 3   Total_projects        1000 non-null   int64
 4   Rating                1000 non-null   float64
 5   Area_of_Interest_1    1000 non-null   object
 6   Area_of_Interest_2    1000 non-null   object
 7   Area_of_Interest_3    1000 non-null   object
 8   Language1             1000 non-null   object
 9   Language2             1000 non-null   object
 10  Language3             1000 non-null   object
 11  AI_project_count      1000 non-null   int64
 12  ML_project_count      1000 non-null   int64
 13  JS_project_count      1000 non-null   int64
 14  Java_project_count    1000 non-null   int64
 15  DotNet_project_count  1000 non-null   int64
 16  Mobile_project_count  1000 non-null   int64
dtypes: float64(1), int64(9), object(7)
memory usage: 132.9+ KB

In [8]:
data.isnull().sum()

Eid                     0
Ename                   0
Experience              0
Total_projects          0
Rating                  0
Area_of_Interest_1      0
Area_of_Interest_2      0
Area_of_Interest_3      0
Language1               0
Language2               0
Language3               0
AI_project_count        0
ML_project_count        0
JS_project_count        0
Java_project_count      0
DotNet_project_count    0
Mobile_project_count    0
dtype: int64

In [9]:
data.duplicated().sum()

0

# Content Based recommendation system

## Required Feilds

In [10]:
data = pd.read_csv('Final_Employees_Data.csv')

In [11]:
data = data[['Eid', 'Ename', 'Experience', 'Total_projects', 'Area_of_Interest_1']]

In [12]:
data

      Eid                Ename  Experience  Total_projects Area_of_Interest_1
0       1            Dana Bond           2               2             DotNet
1       2        Jesus Hampton           9              13             DotNet
2       3         Teresa Munoz          15              16                 ML
3       4     Annette Dipietro          18              19             DotNet
4       5     Jennifer Fortner          22              15             Mobile
..    ...                  ...         ...             ...                ...
995   996         Nicole Meeks          24              27               Java
996   997         Trista Cheek           3               6             Mobile
997   998     Constance Rozier          14               5                 AI
998   999  Elizabeth Bannister          11               9                 JS
999  1000          Susan Weber          11              13                 ML

[1000 rows x 5 columns]

### Joim four coloumn for vectorization

In [13]:

data['Experience'] = pd.to_numeric(data['Experience'], errors='coerce')
data['Total_projects'] = pd.to_numeric(data['Total_projects'], errors='coerce')


data['newcolm'] = (data['Experience'] + data['Total_projects']).astype(str) + " " + data['Area_of_Interest_1']+" "+data['Ename']

In [14]:
data

,Eid,Ename,Experience,Total_projects,Area_of_Interest_1,newcolm
0,1,Dana Bond,2,2,DotNet,4 DotNet Dana Bond
1,2,Jesus Hampton,9,13,DotNet,22 DotNet Jesus Hampton
2,3,Teresa Munoz,15,16,ML,31 ML Teresa Munoz
3,4,Annette Dipietro,18,19,DotNet,37 DotNet Annette Dipietro
4,5,Jennifer Fortner,22,15,Mobile,37 Mobile Jennifer Fortner
...,...,...,...,...,...,...
995,996,Nicole Meeks,24,27,Java,51 Java Nicole Meeks
996,997,Trista Cheek,3,6,Mobile,9 Mobile Trista Cheek
997,998,Constance Rozier,14,5,AI,19 AI Constance Rozier
998,999,Elizabeth Bannister,11,9,JS,20 JS Elizabeth Bannister
999,1000,Susan Weber,11,13,ML,24 ML Susan Weber

### import vectorization and cosine similarity

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfif =TfidfVectorizer()
matrix = tfif.fit_transform(data['newcolm'])
similarity = cosine_similarity(matrix)

In [17]:
similarity

array([[1.        , 0.07203996, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.07203996, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.0615693 ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.0615693 , ..., 0.        , 0.        ,
        1.        ]])

In [18]:
similarity[0]

array([1.        , 0.07203996, 0.        , 0.07174857, 0.        ,
       0.        , 0.        , 0.07862399, 0.        , 0.        ,
       0.        , 0.07862399, 0.        , 0.        , 0.0703342 ,
       0.        , 0.        , 0.08043924, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07628054, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07220486, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07952659, 0.        , 0.07195285, 0.07097731, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07838027, 0.07861449,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07243171,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07039311, 0.        , 0.07880979, 0.        ,
       0.        , 0.07383086, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07409948, 0.07287261, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07420302, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07299944, 0.        ,
       0.        , 0.        , 0.        , 0.07022012, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07030834, 0.        , 0.07047467, 0.07047467,
       0.        , 0.        , 0.        , 0.07039311, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07671053, 0.        , 0.        ,
       0.        , 0.07509744, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06921334, 0.        , 0.        ,
       0.        , 0.        , 0.07971434, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07039311, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08008206, 0.        , 0.        , 0.08275072,
       0.07698746, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0673173 , 0.        ,
       0.07220486, 0.07287261, 0.07103278, 0.        , 0.        ,
       0.        , 0.        , 0.06971676, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07167001, 0.08426535,
       0.07037496, 0.07660161, 0.06947885, 0.        , 0.08216317,
       0.06947885, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07356689, 0.07857253, 0.        , 0.        ,
       0.        , 0.        , 0.07228304, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07332923, 0.        ,
       0.        , 0.08725925, 0.        , 0.07527046, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07952378, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07158697,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07176814, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0758443 , 0.        , 0.        , 0.06794107, 0.        ,
       0.        , 0.07341113, 0.        , 0.        , 0.        ,
       0.08216317, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.08020653,
       0.        , 0.        , 0.0721239 , 0.07638258, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07287889, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.36550617, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07579799, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06921334, 0.        , 0.        ,
       0.        , 0.        , 0.07682555, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07324443, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.08216317,
       0.07647648, 0.07186233, 0.07123061, 0.        , 0.06960092,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.08105488, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07620071, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06921334,
       0.        , 0.        , 0.        , 0.        , 0.07039311,
       0.        , 0.        , 0.        , 0.        , 0.07022012,
       0.        , 0.07240472, 0.        , 0.        , 0.07654472,
       0.        , 0.        , 0.        , 0.07454179, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07182614, 0.        , 0.        , 0.        ,
       0.        , 0.07134853, 0.        , 0.        , 0.07709559,
       0.07332923, 0.        , 0.        , 0.07030834, 0.07626911,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06947885, 0.        , 0.        , 0.07660161,
       0.        , 0.        , 0.        , 0.08008206, 0.        ,
       0.07342327, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07053972,
       0.07420588, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07356689, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07981631,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08216317, 0.        , 0.        , 0.        ,
       0.        , 0.07862399, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06921334, 0.        ,
       0.        , 0.        , 0.        , 0.07550449, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.37163191,
       0.07975093, 0.07047467, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07479171,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07047467, 0.        , 0.        , 0.        ,
       0.        , 0.06921334, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07176814, 0.07186233,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07499489, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07862399, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07500429, 0.        , 0.        , 0.08104501,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.08008206, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.08240144, 0.        , 0.        , 0.        , 0.36076564,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06794107, 0.        ,
       0.        , 0.08344225, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07502068,
       0.07230981, 0.        , 0.        , 0.        , 0.        ,
       0.07156761, 0.        , 0.07765454, 0.07110746, 0.        ,
       0.        , 0.07713625, 0.07657551, 0.        , 0.        ,
       0.        , 0.        , 0.0758488 , 0.        , 0.        ,
       0.        , 0.06794107, 0.        , 0.        , 0.        ,
       0.        , 0.08233374, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06906824,
       0.        , 0.        , 0.07861449, 0.        , 0.07512828,
       0.        , 0.07167001, 0.        , 0.        , 0.        ,
       0.07158697, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07752431, 0.        , 0.        ,
       0.0723586 , 0.        , 0.        , 0.        , 0.07659323,
       0.        , 0.        , 0.        , 0.        , 0.0727692 ,
       0.08751248, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0875836 , 0.07658321,
       0.        , 0.        , 0.        , 0.        , 0.07228304,
       0.        , 0.07218058, 0.07491696, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07218058, 0.07195802,
       0.        , 0.07915127, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08219232, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07490861, 0.        , 0.07097731, 0.07610564, 0.        ,
       0.        , 0.07712377, 0.        , 0.08866744, 0.        ,
       0.        , 0.08050373, 0.        , 0.        , 0.        ,
       0.        , 0.06816926, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06971676, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.07239926, 0.        , 0.07243171, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07660161, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07936987,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06947885,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07560939, 0.        ,
       0.        , 0.        , 0.0823663 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07315653, 0.        , 0.        , 0.        ,
       0.        , 0.075865  , 0.        , 0.07123061, 0.07332923,
       0.        , 0.06891355, 0.        , 0.        , 0.        ,
       0.        , 0.07239926, 0.        , 0.        , 0.43912252,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

When user give the domain as per his requirements this function will recommend him persons suitable for the post on the basis of the experience and number of projects.

In [23]:


def recommendation(domain, data, matrix, similarity):
   
    if domain not in data['Area_of_Interest_1'].values:
        print(f"Domain '{domain}' not found in the dataset.")
        return
    domain_data = data[data['Area_of_Interest_1'] == domain]

    domain_indices = domain_data.index
    idx = domain_indices[0]
    similarity_scores = similarity[idx]
    similar_indices = np.argsort(similarity_scores)[::-1] 

    for i in similar_indices[:20]:
        recommended_employee_name = data.loc[i, 'Ename']
        print(recommended_employee_name)

## Recommendation for the given input

Example: user fill Domain ML 
and it will receive 20 suggestion on the basis of domain,experience and total number of projects

In [25]:
recommendation("ML", data, matrix, similarity, )

Teresa Munoz
John Short
Huey Hill
Robert Harrison
John Stevens
Jose Clark
Melissa Apodaca
Karen Leonard
Beth Short
Lillian Rork
Christine Geronimo
Jason Oneal
Alycia Green
Kum Ashcraft
Julius Latus
James Williams
James Smith
Ruby Davis
Melinda Johnson
Patricia Parks